$font-main: "Libre Baskerville", serif;
$font-second: "Mate SC", serif;

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: $font-second;
  font-weight: 500;
}

.search-header {
  font-family: $font-main;
  font-size: 3rem;
  margin: 2rem auto 3rem auto;
  text-align: center;
}

.search-header-link:hover {
  text-shadow: 2px 3px rgb(255, 68, 68);
  transition: 0.3s;
}

.search-header-link,
.search-header-link:visited,
.search-header-link:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin: 2rem auto;
}

#search-area {
  width: 30vw;
  height: 10vh;
  font-size: 2rem;
  margin: 3rem auto;
}

.submit-button {
  font-size: 2rem;
  font-family: $font-second;
  background-color: rgb(75, 51, 51);
  color: white;
}

.submit-button:hover {
  color: rgb(255, 136, 136);
}

.submit-button:active {
  color: rgb(255, 136, 136);
  border-style: inset;
}
